# Webmaps in python using folium Part-2

In this section, we are going to import a data which contains the latitudes,longitudes and a some more information about the volcanoes that hit USA till now. We shall try to visualise their locations by placing markers that display thier name.

#### Import the libraries

In [1]:
import folium
import pandas as pd

Make a map object for the MAp class which is present in folium library

In [16]:
mymap = folium.Map(location = [38.58,-119.09], zoom_start=6)

Get the dataset adn ectract latitude, longitude and name in there respective lists.

In [2]:
df = pd.read_csv("volcanoes.txt")

In [5]:
df.head()

,VOLCANX020,NUMBER,NAME,LOCATION,STATUS,ELEV,TYPE,TIMEFRAME,LAT,LON
0,509.0,1201-01=,Baker,US-Washington,Historical,3285.0,Stratovolcanoes,D3,48.776798,-121.810997
1,511.0,1201-02-,Glacier Peak,US-Washington,Tephrochronology,3213.0,Stratovolcano,D4,48.111801,-121.111000
2,513.0,1201-03-,Rainier,US-Washington,Dendrochronology,4392.0,Stratovolcano,D3,46.869801,-121.751000
3,515.0,1201-05-,St. Helens,US-Washington,Historical,2549.0,Stratovolcano,D1,46.199799,-122.181000
4,516.0,1201-04-,Adams,US-Washington,Tephrochronology,3742.0,Stratovolcano,D6,46.205799,-121.490997

In [6]:
df = pd.read_csv("volcanoes.txt")
lat = list(df['LAT'])
lon = list(df['LON'])
elev = list(df['ELEV'])

We will now create a feauture Group to add markers using a for loops on the lists we mamde.

In [7]:
mymap4 = folium.Map()
fg = folium.FeatureGroup(name=" my map")

for lt,ln,el in zip(lat,lon,elev):
    fg.add_child(folium.Marker(location=[lt,ln],popup=str(el)))

mymap4.add_child((fg))

mymap4.save("Markersfromfile.html")

Great Job!